@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

@font-face {
    font-family: firacode;
    src: url(assets/FiraCode-VariableFont_wght.ttf);
}

@font-face {
    font-family: funnel;
    src: url(assets/FunnelDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: actor;
    src: url(assets/actor);
}

body {
    font-family: 'actor';
    background-color: #1b1d2d;
    padding: 0px 75px;
    color: #b7c5da;
}

.bgPic{
    background-image:url(assets/pexels-plato-terentev-3804555-9962763.jpg);
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    mix-blend-mode: lighten;
    z-index: -1;
    opacity: 0.7;
}

#tentacles {
    width: 50px;
}

h2{
    font-family: funnel;
    padding-top: 150px;
    font-size: 30px;
}

.header {
    color: #0c0c17;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    font-family: funnel;
    display: flex;
    background-color: rgba(173, 216, 230,0.8);
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    backdrop-filter: blur(10px);
    box-shadow:0 0px 30px lightblue;
}

.logo{
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    gap: 10px;
}

a:link{
    padding-right: 2%;
    text-decoration: none;
    font-size: 20px;
    color: #1b1d2d;
}

a:link:visited{
    color: #1b1d2d;
}

.stats-container {
    color: #1b1d2d;
    font-family: funnel;
    display: flex;
    align-items: center;
}

.stats-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    display: block;
    background-color: #afb3d0;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

.stats-card:hover{
    mix-blend-mode: plus-lighter;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    color: #1b1d2d;
    background-color: #dee1f1;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    position: relative;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    mix-blend-mode: plus-lighter;
}

#button-container {
    text-align: center;
}

button {
    background-color: #dee1f1;
    color: #1b1d2d;
    cursor: pointer;
    font-family: 'actor';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:hover{
    mix-blend-mode: plus-lighter;
}

.almost-there {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(27, 29, 45,0.8);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 12px;
    padding: 3% 8%;
    border-radius: 20px;
    font-family: funnel;
}